# Виртуальное окружение и кэш Python
venv/
__pycache__/
*.pyc

Вспомогательное/

# Файлы IDE
.idea/
.vscode/

# Файлы с секретами и ключами
.env


# База данных (не публикуйте, если там реальные данные)

*.sqlite3

# Логи
*.log
/logs

# Файлы планировщика (если есть)
*.pid

# Файлы операционной системы
.DS_Store
Thumbs.db